@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  box-sizing: border-box;
}

:root {
   margin: 0;
   padding: 0;
   box-sizing: 0;  
  
}


body {
  background: linear-gradient(to top right, black, #111827, #300012);
  overflow: auto; 
  overflow: overlay;
  scrollbar-gutter: inherit;
  
}

body::-webkit-scrollbar {
  background-color: #0b0a0a;
  width: 7px;

 }

 body::-webkit-scrollbar-thumb {
  background-color: #0b0a0a; /* Cambia este color según tu preferencia */
  border-radius: 10px; /* Redondea los bordes del scroll */
}

/* Opcional: Cambiar el color del thumb al pasar el ratón */
body::-webkit-scrollbar-thumb:hover {
  background-color: #4d0725; /* Color al pasar el ratón (hover) */
}
.main{
   display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;

}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  };


}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes reveal {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}



@layer base {
  :root {
    --radius: 0.5rem;
  }
}

